.headingXl {
        font-size: 2.25rem;
        text-align: center;
        margin: 40px 0px;
        color: var(--primary);
}

.headingLg {
        font-size: 1.5rem;
        text-align: center;
        color: var(--primary);


}

.headingMd {
        background-color: var(--primary);
        font-family: sans-serif;
}

.wrapper {
        width: 90%;
}

.header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.perPage {
        display: flex;
        font-size: 1rem;
        align-items: center;

        span {
                margin: 0 8px;

                select {
                        font-size: 1rem;

                        option {
                                font-size: 1rem;
                        }
                }
        }
}

.dashboardStyles.col {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        margin-bottom: 50px;
}

.search:hover,
.search:focus-within {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        font-weight: bold;
}

.search:focus {
        outline: none;
}

.form-control {
        margin-right: 200px;
}

.searchContainer {
        display: flex;
        align-items: center;
}

.searchbutton {
        color: black;
        border-radius: 20px;
        padding: 10px 20px;
        margin-left: -60px;
        padding-right: 20px;
}


.modalADE {
        color: black;
}

.rowcss {
        border-color: black;
}

.formsearch {
        margin-right: 50px;
        background-color: aliceblue;
        border-radius: 20px 20px 20px 20px;

}
.addBtn {
        background-color: var(--primary);
        color: var(--white);
        font-size: 1rem;
        text-decoration: none;
        padding: var(--default-padding-vertical) var(--default-padding-horizontal);
        border-radius: 8px;

        &:hover {
                background-color: #0744e1;
                transition: 0.3s linear background-color;
        }
}
@media (max-width: 600px) {
        .addBtn {
                margin-left: 20px;
                margin-right: 20px;
                height: 30px;
        }
}

@media (min-width: 600px) and (max-width: 1200px) {
        .addBtn {
                margin-right: 20px;
                margin-left: 20px;
                height: 35px;
        }

        .main {
                margin-right: 20px;
                margin-left: 20px;
        }
}
.profile-stat {
        display: block;
        margin-bottom: 10px;

}
.text-center {
        text-align: center;
}

.name,
.birth,
.address,
.phonenumber,
.address {
        text-align: right;
        margin-bottom: 20px;
        text-decoration: none;
        line-height: 1.4;
}
.font-weight-light {
        font-weight: normal;
        text-decoration: none;

}
.link {
        text-decoration: none;
}

a.no-underline {
        text-decoration: none;
}
.card {
        margin: 10px;
        margin-bottom: 10px;
        padding: 1px;

}
.ch {
        text-decoration: none;
        margin-bottom: 30px;
}
.card {

        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
        box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.12), 0 8px 20px -2px rgba(0, 0, 0, 0.12), 0 6px 10px -6px rgba(0, 0, 0, 0.25);
}
.col {
        margin-bottom: 50px;

}
.main {
        font-family: "Times New Roman", serif;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

}

.fluid {
        margin-left: 10px;
        margin-right: 10px;

}

.dashboardStyles.carddiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.phonenumber {
        margin-bottom: 20px;
        text-decoration: none;
        line-height: 1.4;
        text-align: right;
}
.carddiv{
        margin-top: 10px;
}