.chatBox {
    transition: all .2s ease-in;
    position: fixed;
    border-radius: 50%;
    background-color: blue;
    padding: 1vw 1.2vw;
    z-index: 9999;
    bottom: 1vw;
    right: 1vw;
    cursor: pointer;
}

.chatBox:hover {
    opacity: 0.8;
}

.noScrollBar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.line {
    width: 0.8vw;
    height: 3px;
    border-bottom: 1px solid grey;
    align-self: center;
}