.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.header {
  display: flex;
}
.inforLayout {
  padding: 20px;
  color: var(--black);
  background-color: #d4e0ff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.inforHeader {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}
.inforItem {
  align-self: flex-start;
}
.taskInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 2.4rem;
  }
}
.taskStatistic {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.taskItem {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  border-radius: 24px;
  width: 24%;
  background-color: var(--white);
}
.taskItemTitle {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}
.valueItem {
  font-size: 24px;
  color: var(--black);
  font-weight: bold;
}
.iconTask {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.all {
  background-color: #feeef1;
  color: red;
}
.finish {
  background-color: #d9fae7;
  color: var(--green);
}
.remain {
  background-color: #fef2dc;
  color: var(--yellow);
}

.body {
  width: 100%;
}
.chartLayout {
  margin-top: 40px;
  width: 100%;
  height: 500px;
  padding: 40px;
  border-radius: 24px;
  // border: 1px solid #c7ffc7;
  //  background-color: #f3fff3;
  background-color: var(--white);
}
.headerChartLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.headerChartLayout > div {
  margin-right: 30px;
}
.applyBtn {
  color: #fff;
  background-color: var(--primary);
  border-radius: 4px;
  margin-left: 20px;
  padding: 4px 20px;
  font-size: 16px;
  font-weight: 500;
  /* height: 100%; */
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.25) inset;
  &:hover {
    background-color: #103eb3;
    transition: 0.3s ease-in background-color;
  }
  &:active {
    background-color: #092c83;
    transition: 0.3s ease-in background-color;
  }
}
@media only screen and (max-width: 840px) {
  .taskInfo {
    margin-top: 20px;
    p {
      display: none;
    }
  }
  .chartLayout {
    overflow-x: auto;
  }
  .header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .iconTask {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .taskStatistic {
    flex-direction: column;
    flex: 1;
  }
  .taskItem {
    width: 100%;
  }
  .iconTask {
    display: flex;
  }
}
