.wrapper {
    width: 90%;
  }
  
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .addBtn {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    padding: var(--default-padding-vertical) var(--default-padding-horizontal);
    border-radius: 8px;
    &:hover {
      background-color: #0744e1;
    }
  }
  .searchLayout {
    margin: 20px 0px;
    float: right;
  }
  .invoice {
  box-shadow: rgba(42, 45, 52, 0.16) 0px 4px 20px;
  width: 100%;
  }
  //table
  .table {
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    font-size: 1rem;
  }
  .table tr th,
  .table tr td {
    border-bottom: 2px solid #eaecf0;
    padding: 8px 20px;    
  }
  
  .table tr th:first-child,
  .table tr td:first-child {
    border-left: 2px solid #eaecf0;
  }
  .table tr th:last-child,
  .table tr td:last-child {
    border-right: 2px solid #eaecf0;
  }
  .table tr th {
    background: #f6f6f6;
    color: #b8bec8;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    border-top: solid 2px #eaecf0   ;
  }
  .table tr td {
    color: var(--text-color);
  }
  
  /* top-left border-radius */
  .table tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  
  /* top-right border-radius */
  .table tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  
  /* bottom-left border-radius */
  .table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  /* bottom-right border-radius */
  .table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  .cudBtn {
    color: white;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 8px;
    + .cudBtn {
      margin-left: 8px;
    }
    text-decoration: none;
  }
  .createInvoiceBtn {
    background-color: var(--yellow);
    &:hover {
      background-color: #edad44;
      transition: 0.2s linear background-color;
    }
  }
  .invoiceBtn {
    background-color: var(--blue);
    &:hover {
      background-color: #4764b1;
      transition: 0.2s linear background-color;

    }
  }
  .detailBtn {
    background-color: var(--blue);
    &:hover {
      background-color: #4764b1;
      transition: 0.2s linear background-color;

    }
  }
  .doneBtn {
    background-color: #4ba236;
    &:hover {
      background-color: var(--green);
      transition: 0.2s linear background-color;

    }
  }
  .rejectBtn {
    background-color: var(--red);
    &:hover {
      background-color: #f90e0e;
    }
  }
  
  .residentInfo {
    display: flex;
  }
  .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
  }
  .residentName {
    font-weight: bold;
  }
  .residentEmail {
    line-height: 12px;
      font-size: 0.75rem;
  }
  //status
  .status {
    font-weight: 600;
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 15px;
  
  }
  .done {
    color: var(--green);
    background-color: #edf9f0;
    }
  .pending {
    color: var(--yellow);
    background-color: #fbf1e0;
    }
  .cancel {
    color: var(--red);
    background-color: #fbd1d1;
    }
  .processing {
    color: #3edeb2;
    background-color: #cbebe2;
  }
  .modal {
    min-width: 50% !important;
  }

  .titleInvoice {
    width: 100%;
    background-color: var(--yellow);
    padding: 10px 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    span {
      color: var(--white);
      font-size: 0.9rem;
      
    }

  }
  .addLineBtn {
    float: right;
    background-color: var(--primary);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 10px;
  }
  .itemLine {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    input {
        border-radius: 16px;
        outline: none;
        padding: 4px 10px;
        font-size: 0.9rem;
        border: 1px solid var(--primary) !important;
        color : var(--text-color)
        
    }
}
.line {
  font-size: 1rem;
  color : var(--text-color);
  
}
.description {
  width: 40%;
}

.price {
 // margin-left: 10%;
  width: 30%;
  margin-left: 10%;
}
.optionBtn {
  width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
    border-radius: 50%;
    &:hover {
      background-color: #ccc;
      transition: 0.2s linear background-color;
    }
  
}

  .TrashIcon {  
    background-color: var(--red);
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 50%;
    margin-left: 10%;
    cursor: pointer;
    &:hover {
        background-color: #c92e2e;
        transition: 0.2s linear background-color;
    }
}
.total {
  clear: right;
  float: right;
  background-color: var(--yellow);
  color: var(--white);
  font-size: 1rem;
  width: 70%;
  padding: 8px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-radius: 12px;

}
//tippy

.tippyWrapper {
  background-color: white;
  border-radius: 4px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(42, 45, 52, 0.16) 0px 4px 20px;

}
.optionItem {
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
.errors {
  color: var(--red);
  font-size: 1rem;
  padding: 0px 20px;
  
}