.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  background-color: white;
}

.furniture {
  height: 100px;
  border-radius: 10px;
  border: 1px grey solid;
  margin: 20px 0px;
  align-items: center;
  padding: 0;
}

.missing {
  border-style: solid;
  border-color: #FF4747 !important;
}

.creatBtn1 {
  margin: 20px auto;
  background-color: blue;
  color: var(--white);
  font-size: 1.25rem;
  padding: 8px 60px;
  border-radius: 10px;
  transition: 0.1s ease;
  font-family: sans-serif;
  width: 60px;
}

.deleteBtn {
  color: white;
  width: 140px;
  height: 50px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  float: right;
  margin-left: 70px;
}

.deleteBtn {
  background-color: var(--red);
  color: white;
  width: 140px;
  height: 50px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  float: right;
}

.resident-info {
  display: flex;
  justify-content: space-between;
}

.avatar-container {
  flex: 0 0 auto; 
  margin-right: 10px; 
}

.avatar-image {
  width: 160px;
  height: 160px;
  margin-right: 60px;
  position: relative;
  margin-left: 40px;
}

.resident-details {
  flex: 1; 
}
.dropdown-menu {
  position: absolute;
  top: -200px; 
  right: 0;
  z-index: 999;
  background-color: #8faeff; 
  color: white; 
}
.dropdownToggle::after {
  display: none !important;
}
@media only screen and (max-width: 390) {
  
  .comment {
   width: 80%;
    font-size: 14px;
    
  }
}