.wapper {
    width: 80%;
    font-size: 1rem;
}

.form {
    width: 110%;

    input {
        font-size: 1rem;
    }
    @media (max-width: 768px) {
        width: 100%;
      }
}

.label {
    position: relative;

    &::after {
        content: '*';
        color: red;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}

.creatBtn {
    margin: 0 auto;
    background-color: #8faeff;
    color: var(--white);
    font-size: 1.25rem;
    padding: 8px 60px;
    border-radius: 10px;
    transition: 0.1 ease;
    margin-top: 100px;
    &:hover {
        background-color: #4b77e8;
    }
}

.img {
    width: 100%;
    height: 160px;
}

.error {
    color: var(--red);

}

.addBtn1 {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    padding: var(--default-padding-vertical) var(--default-padding-horizontal);
    border-radius: 8px;

    &:hover {
        background-color: #0744e1;
    }
    margin-top: 100px;
}
.modal {
    min-width: 80%;
}

.modalHeader {
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .titleModal {
        font-size: 1.5rem;
        font-weight: 300;
        color: #414a57;
        text-align: center;
    }
}

.bodyModal {
    padding: 20px 30px;
    font-size: 13px;

    input {
        outline: none;
        background: #fff;
        border: 1px solid #dbdbdb;
    }
}

.bodyHeader {
    font-size: 1.2rem;
}

.saveBtn {
    width: 100%;
    background-color: #b6e685;
    background-image: none;
    color: #27313d;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
    font-size: 20px;
    margin: 0 !important;
    padding: 20px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footerModal {
    padding: 0 !important;
}
.dropdownWrapper{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -130px;
    @media (min-width: 100px) and (max-width: 768px) {
        margin-left: 10px;
       width: 100%;
      }
}