.wapper {
    width: 90%;
}

.tableBuilding {
    text-align: center;
    margin-top: 60px;
}

.tableInfo {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;

    label {
        font-weight: 600;
        font-size: 1rem;
    }

    tr,
    td {
        border: 1px solid #ccc;
        padding: 10px 20px;
        margin-right: 20px;


    }
}

.container {
    margin-top: 40px;

    p {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.managerList {
    margin-top: 40px;
    width: 100%;

    span {
        font-size: 1.5rem;
        font-weight: 700;

    }
}

.cudBtn {
    color: white;
    line-height: 24px;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 8px;

    +.cudBtn {
        margin-left: 8px;
    }

    text-decoration: none;
}

.addBtn {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    padding: var(--default-padding-vertical) var(--default-padding-horizontal);
    border-radius: 8px;

    &:hover {
        background-color: #0744e1;
    }
}

//modal
.modal {
    min-width: 80%;
}

.modalHeader {
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .titleModal {
        font-size: 1.5rem;
        font-weight: 300;
        color: #414a57;
        text-align: center;
    }
}

.bodyModal {
    padding: 20px 30px;
    font-size: 13px;

    input {
        outline: none;
        background: #fff;
        border: 1px solid #dbdbdb;
    }
}

.bodyHeader {
    font-size: 1.2rem;
}

.saveBtn {
    width: 100%;
    background-color: #b6e685;
    background-image: none;
    color: #27313d;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
    font-size: 20px;
    margin: 0 !important;
    padding: 20px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footerModal {
    padding: 0 !important;
}