.wrapper {
  padding: 20px;
}
.header {
  font-size: 1.4rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: var(--primary);
  font-weight: 600;
}
.container {
  margin-top: 60px;
}
.content {
  display: flex;
  label {
    margin-right: 16px;
    color: var(--text-color);
  }
  textarea {
    flex: 1;
    padding: 10px;
    outline: none;
    text-align: start;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    &:focus {
      border: 2px solid #072675;
    }
  }
}
.submitBtn {
  margin: 0px auto;
  margin-top: 40px;
  background-color: #6097ff;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  &:hover {
    background-color: #4d72b9;
    transition: 0.2s linear background-color;
  }
}

.error {
  color: var(--red);
}
.hidden {
  color: transparent;
}